@import url(./02_variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    max-width: 98%;
    margin:auto;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.header{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    background-color:var(--primary-color);
    border-bottom: 2px dotted black;
    height: 35px;
    position:sticky;
    top: 0;
}


.header-style-onScroll{
    background-color:var(--primary-color);
}

.logo{
    color: var(--background-color);
    font-size: 30px;
    padding: 20px;
}

.navbar-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

.navbar-item{
    text-decoration: none;
    color: var(--background-color);
    padding: 5px 10px;
    font-size: 18px;
    /* border-radius: 5px; */
    }

li:last-child{
    padding-right: 20px;

}

.navbar-item:hover{
    color: var(--secondary-color);
    border-bottom: 2px dotted var(--background-color);
}

/* Section Hero */

.hero{
    display: flex;
    justify-content:space-around;
    align-items:center;
    /* padding: 50px; */
    height: 60vh;
    /* background-color: */
    /* background-image: linear-gradient(to right bottom ,  rgba(2, 161, 2, 0.747), rgba(172, 255, 47, 0.977)); */
    /* border: 0.5px solid black; */

}

.hero-section-style{
    font-size: 24px;
    font-weight: 800;
    /* font-style: italic; */
    align-items: center;
}

/* button style */

.btn{
    border:none;
    padding: 7px 32px;
    background-color: var(--primary-color);
    color: var(--btn-text-color);
    border-radius: 8px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display:inline-block;
}

.btn:visited,
.btn:link{
    background-color: var(--primary-color);
}

.btn:hover{
    background-color: var(--secondary-color);
}

/* Section Footer */

footer{
    text-align: center;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

/* Section BMI */
.bmi{
    height: 500px;
    background-color: var(--primary-color);
    /* background-image: linear-gradient(to left bottom ,  rgba(172, 255, 47, 0.519) ,rgba(2, 161, 2, 0.562)); */
    color: #fff;
}

.bmi-form{
    width: 50%;
}
.bmi-form div{
    padding: 30px;
    /* width: inherit; */
}

.form-submit-button,
.form-reset-button{
    background-color:var(--secondary-color);
    color: var(--text-color);
    /* color: #fff; */
    border: none;
    padding: 8px 35px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
}

.button-section{
display: flex;
gap: 20px;
width: 0px;
}

.form-submit-button:hover,
.form-reset-button:hover{
    background-color: var(--background-color);
}


/* Error message format */

.msgErr{
    margin-top: 10px;
    width: 256px;
    height: 25px;
    background-color: var(--err-background-color);
    padding-left: 10px;
    border-left: 5px solid var(--err-text-color);
    /* color: var(--err-text-color); */
    display: flex;
    align-items: center;
    font-weight: 500;
}

/* Success Message Formt */
.msgSuccess{
    margin-top: 10px;
    width: 256px;
    height: 25px;
    background-color: var(--secondary-color);
    padding-left: 10px;
    border-left: 5px solid var(--success-text-color);
    /* color: var(--primary-color); */
    display: flex;
    align-items: center;
    font-weight: 500;
}